*{
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

 

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    list-style: none;
    
}

 

.navigation {
    /* border: 1px solid red; */
    display: flex;
    height: 12vh;
    vertical-align: middle;
    font-size: 1.1rem;
    background-color: rgb(0 0 0);
    color: white;
    /* justify-content: space-between; */
    
     
    
}

.navigation-list-left {
    display: flex;
    /* border: 1px solid yellow; */
    justify-content: flex-start;
   padding-left: 0;
    



}

.navigation-list-right{
    display: flex;
    /* border: 1px solid yellow; */
    justify-content:end;
    padding: 0.5rem;

}

.navigation-list-left > li {
    margin: auto;
    padding: 0.5rem;
}

.navigation-list-right> li {
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    /* font-weight: 200; */
}

 

.navigation > span {
    /* align-items: center; */
    margin: auto;
    margin-left: 14%;
     
}

.navigation > span > img{
    width: 8rem;
}

/* section-2 */

.section-2{
    width: 100%;
    height: 88vh;
    display: flex;
    
}

.section-2 > img {
    /* width: 60%; */
    height: 100%;
}

.section-2-right{
    display: flex;
    flex-direction: column;
    padding-top: 10rem; 
    text-align: start;


    /* border: 1px solid white; */
     
}

.section-2-right > h1{
    font-size: 2.75rem;
    font-weight: 700;
    margin: 1.5rem;
    padding: 0.5rem;
    line-height: 3.2rem;
    /* border: 1px solid red; */
    width: 85%;
}

.section-2-right > p{
    width: 90%;
    margin-top: -1rem;
    margin-left: 2rem;
    line-height: 1.5rem;
    padding-right: 2rem;
    /* border: 1px solid red; */
     
}

.section-2-right > button {
    margin: 1rem 2.8rem 0 2rem; 
    padding: 0.7rem;
    font-size: 1.3rem;
    background-color: black;
    color: white;

}

.section-3{
     width: 100%;
     height: 100vh;
     text-align: center;
     padding: 5rem 15rem 20rem 15rem;
}

.section-3 > .container{
    /* border: 1px solid red; */
    display: flex;
    height: 70vh;
    width: 100%;
    gap: 1.5rem;
}

.section-3 > h4{
    padding: 1rem 0 2rem;
    /* border: 1px solid red; */
}

.container-cart{
    /* border: 1px solid red; */
    width: 24%;
}

.container-cart > img{
    width: 100%;
    height: 70%;
}

.container-cart > p{
    margin: 1rem;
    color: #232323;
}

#face_cleanser{
    line-height: 1.5rem;
}

#face_cleanser-button{
    width: 100%;
    padding: 0.75rem 0 ;
    /* border: 1px solid white; */
    background-color: black;
    color: white;
    margin-top: -0.08rem;

}

.container-cart > span > p{
    margin-bottom: 0.85rem;
}

.container-cart > button{
    width: 100%;
    padding: 0.75rem 0 ;
    /* border: 1px solid white; */
    background-color: black;
    color: white;
    margin-top: 1.8rem;
}


/* footer section */

.footer{
    background-color: black;
    color: white;
    height: 78vh;
    width: 100%;
    padding: 5rem 10rem 0 5rem;
}
.footer-subsection{
    background-color: black;
    display: flex;
    justify-content: flex-start;
     
}

.about > h4{
    margin-left: 2.5rem;
    margin-bottom: 2rem;

}

.about > ul > li{
    margin-bottom: 1rem;
    font-size: 0.9rem;
}




.help > h4{
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.help > ul > li{
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

hr {
    /* border: 0; */
    clear:both;
    display:block;
    width: 100%;               
    background-color: #676986;
    height: 1px;
    margin:3rem 0 0 2rem;
    
}

.footer > .copyright > span{
    margin-left: 2rem;

}
/* 
.footer > .copyright > span > i+i{
    margin-right: 2rem;
} */

#insta{
    margin-left: 0.7rem;
}

.footer > .copyright > span > i {
    margin: 2rem 0 2rem 0;
    font-size: 1.3rem;

}

.copyright > ul > li{
    margin-bottom: 1rem;
    margin-left: -0.2rem;
}


.section-6{
    display: flex;
    width: 100%;
    height: 50vh;
    padding: 3rem 12rem;
    /* border: 1px solid red; */
    gap: 1rem;
    background-color: #eee;
}

.feedback-cart{
    width: 32%;
    height: 30vh;
    /* border: 1px solid red; */
    padding: 3rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255);
    /* text-align:start; */
    
    
    
}

.feedback-cart > p{
    font-size: 0.9rem;
    text-align:justify;
    /* width: 90%;
    height: 50%; */
    /* margin-left: 0.5rem; */
    /* border: 1px solid red; */
     
    
}

.feedback-cart > h4{
    text-align: center;
    margin: 1.5rem;
}

.section-5{
    width: 100%;
    height: 60vh;
    /* border: 1px solid red; */
    /* text-align: center; */
    padding-top: 12rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.section-5 > h4{
    text-align: center;
    margin-bottom: 1.5rem;
     
}

.section-5-wrapper{
    display: flex;
    /* border: 1px solid green; */
    /* gap: 1.5rem; */
    justify-content: space-between;

}

.section-5-wrapper-item{
    width:30%;
    height: 25vh;
    /* border: 1px solid red; */
    align-items: flex-start;
}

.section-5-wrapper-item > h5{
    padding: 1rem 0;

}

.section-5-wrapper-item > img{
    width: 3rem;
    height: 3rem;
}

/* temp section */

 

#serumicon-img{
    width: 1.5rem;
    height: 3rem;
}

/* temp section */


 

.section-4{
    width: 100%;
    height: 100vh;
    /* border: 1px solid blue; */
    padding-left: 11rem;
    padding-right: 11rem;

}

.section-4 > h4{
    margin: 1rem 0;

}

.section-4 > p{
    margin: 1rem 0 2.5rem;
}

.section-4 > .img{
    width: 100%;
    height: 60%;
    margin-top: 0.5rem;
    /* border: 1px solid red; */
    background-image: url(./img/concernsbannerhorizontalmin-1646166678730\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-4-wrapper{
    width: 90%;
    height: 40%;
    /* border: 1px solid red; */
    margin-left: 3rem;
    margin-top: -8rem;
    display: flex;
    justify-content: space-between;
}

.section-4-wrapper-item-1{
    width: 33%;
    height: 100%;
    /* border: 1px solid green; */
     
    
}

.section-4-wrapper-item-1 > img{
    width: 100%;
    height: 100%;
}

.section-4-wrapper-item-1 > button{
     position: relative;
    top: -11rem;
    left: 6rem;
     
    padding: 1.25rem 3rem;
    color: black;
    font-weight: 640;
}

.section-4-wrapper-item-2{
    width: 33%;
    height: 100%;
    /* border: 1px solid green; */
     
    
}

.section-4-wrapper-item-2 > img{
    width: 100%;
    height: 100%;
}

.section-4-wrapper-item-2 > button{
    position: relative;
    top: -11rem;
    left: 6rem;
    padding: 1.25rem 3rem;
    color: black;
    font-weight: 640;
}

.section-4-wrapper-item-3{
    width: 33%;
    height: 100%;
    /* border: 1px solid green; */
     
    
}

.section-4-wrapper-item-3 > img{
    width: 100%;
    height: 100%;
}

.section-4-wrapper-item-3 > button{
    position: relative;
    top: -11rem;
    left: 6rem;
    padding: 1.25rem 3rem;
    color: black;
    font-weight: 640;
}

.section-7 {
    width: 100%;
    height: 90vh;
    /* border: 1px solid red; */
}


.login-form{
    /* border: 1px solid red; */
    padding-left: 37%;
     

}

.login-form > form{

    display: flex;
    flex-direction: column;
     
}

.section-7 > h4{
    text-align: center;
    margin: 6rem 0 ;

}

.login-form > form > input {
    width: 25rem;
    height: 3rem;
    margin-bottom: 1.25rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding-left: 1rem; 
}

.login-form > form > button{
    width: 25rem;
    height: 3.2rem;
    background-color:black;
    color: white;
}

.login-form > form > span{
    margin-top: 1rem;
    font-size: 1rem;
    /* margin-left: 1.8rem; */

    color: black;
}

.login-form > form > span > a{
    color: black;
}

/* signup-form */

.section-8 {
    width: 100%;
    height: 90vh;
    /* border: 1px solid red;  */
}

.signup-form{
    /* border: 1px solid red; */
    padding-left: 37%;
}

.signup-form > form{

    display: flex;
    flex-direction: column;
     
}

.section-8 > h4{
    text-align: center;
    margin: 6rem 0 ;

}

.signup-form > form > input {
    width: 25rem;
    height: 3rem;
    margin-bottom: 1.25rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding-left: 1rem; 
}

.signup-form > form > button{
    width: 25rem;
    height: 3.2rem;
    background-color:black;
    color: white;
}